<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String to words</title>
</head>
<body>
    {% include 'menu.html' %}
    <hr>
    <h1>String2words</h1>
    <h2>Current user: {{ request.user }}</h2>
    {% if nothing_entered %}
    <form action="/str2words/" method="POST">
        {% csrf_token%}
        {{ form.input_string.label}}: {{form.input_string}}<br>
        <input type="submit" value="Submit">
    </form>
    {% else %}
    <h3>Words in string: {{ word_counter }}</h3>
    <h3>Numbers in string: {{ number_counter }}</h3>
    <h3>Words:</h3>
        {% for item in word_data %}
        <ul>
            <li>{{ item.item }}</li>
        </ul>
        {% endfor %}
    <h3>Numbers:</h3>
        {% for item in number_data %}
        <ul>
            <li>{{ item.item }}</li>
        </ul>
        {% endfor %}
    {% endif %}
    <hr>
    {{ form.errors }}
</body>
</html>